.App {
  margin: 60px;
}

.chart {
  display: flex;
}

.legend {
  display: flex;
  margin-bottom: 30px;
}

.legendItem {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.blueValue {
  display: inline-block;
  background-color: #00bae4;
  margin-right: 5px;
  height: 13px;
  width: 20px;
}

.redValue {
  display: inline-block;
  background-color: #eb3642;
  margin: auto 5px;
  height: 5px;
  width: 20px;
}

.options {
  padding-left: 30px;
  border-left: 1px solid #bfbfbf;
}

.optionsTitle {
  margin-bottom: 0;
}

.adjustmentOptions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.radioItem {
  display: inline-block;
  position: relative;
  margin: 10px 0 0;
}

.radioItem input[type="radio"] {
  display: none;
}

.radioItem label {
  font-weight: normal;
}

.radioItem label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 4px;
  margin: 0 5px 0 0;
  width: 16px;
  height: 16px;
  border-radius: 11px;
  border: 2px solid #6e7273;
  background-color: transparent;
}

.radioItem input[type="radio"]:checked + label:before {
  border-color: #008271;
}

.radioItem input[type="radio"]:checked + label:after {
  border-radius: 11px;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 9px;
  left: 5px;
  content: " ";
  display: block;
  background: #008271;
}
