.svgRoot {
  color: #5a5a5a;
  height: 500px;
  width: 90%;
  margin-right: 0;
  margin-reft: 0;
}

.line {
  fill: none;
  stroke: #eb3642;
  stroke-width: 2px;
}

.guide-lines line {
  stroke: #bfbfbf;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.bar {
  fill: #00bae4;
}

.y1-axis .tick line,
/* .y2-axis .tick line, */
.x-axis .tick line {
  visibility: hidden;
}

.label {
  transform: rotate(-90deg);
  fill: white;
}
